<div class="min-h-screen bg-[#fcfdfc] flex items-center justify-center p-4 md:p-8 font-sans relative overflow-hidden">

  <div class="absolute top-[-10%] left-[-5%] w-96 h-96 bg-emerald-50 rounded-full blur-3xl opacity-70"></div>
  <div class="absolute bottom-[-10%] right-[-5%] w-[500px] h-[500px] bg-emerald-50 rounded-full blur-3xl opacity-70">
  </div>
  <div class="absolute top-[40%] right-[20%] w-20 h-20 bg-emerald-500/10 rounded-full blur-2xl"></div>

  <div
    class="max-w-6xl w-full bg-white rounded-[40px] shadow-2xl shadow-emerald-100/40 border border-emerald-50/50 overflow-hidden flex flex-col md:flex-row relative z-10">

    <div
      class="md:w-1/2 p-10 md:p-16 flex flex-col justify-between bg-white rounded-[40px] md:rounded-r-none relative overflow-hidden border border-gray-50/50 shadow-sm md:shadow-none transition-all duration-500 ease-in-out">

      <div class="absolute top-[-20px] right-[-20px] w-32 h-32 bg-emerald-50 rounded-full"></div>

      <div class="relative z-10 space-y-3">
        <h1 class="text-3xl font-black text-[#1a2b2b] tracking-tighter">
          Fresh<span class="text-[#00b37e]">Cart</span>
        </h1>
        <div class="w-12 h-1 bg-[#00b37e] rounded-full"></div>
      </div>

      <div class="relative z-10 space-y-6 pt-10 md:pt-0">
        <h2 class="text-4xl md:text-5xl font-black leading-tight text-gray-800 tracking-tight">
          No <span class="text-[#00b37e]">Worries.</span>
        </h2>
        <p class="text-gray-500 text-sm max-w-sm leading-relaxed">
          It happens to the best of us. Let's get you back to your premium grocery shopping experience quickly and
          securely. Just follow the simple steps.
        </p>
      </div>

      <div class="relative z-10 flex items-center gap-4 pt-10 border-t border-gray-100 mt-10">
        <div
          class="w-12 h-12 bg-gray-50 rounded-full flex items-center justify-center text-[#00b37e] border border-gray-100/50 shadow-inner">
          <i class="fa-solid fa-shield-halved text-xl"></i>
        </div>
        <div>
          <p class="text-[11px] text-gray-400 font-bold uppercase tracking-[0.2em] mb-0.5">Your Security Matters</p>
          <p class="text-xs font-bold text-gray-800">100% Secure & Encrypted Process.</p>
        </div>
      </div>
    </div>

    <div class="md:w-1/2 p-8 md:p-12 lg:p-16 flex flex-col justify-center relative">
      <div class="max-w-md mx-auto w-full">
        <!--                                                step-1                                         -->

        @if (steps()==1) {
        <div class="mb-10 text-center">
          <h1 class="text-3xl font-black text-[#1a2b2b] mb-2 tracking-tight">Forgot Password?</h1>
          <p class="text-gray-400 text-sm">Enter your registered <span class="text-[#00b37e] font-bold">Email
              Address</span>. We'll send you a link to reset your password.</p>
        </div>
        <div class="flex items-center justify-center gap-2 my-12">
          <div class="relative">
            <div
              class="w-12 h-12 bg-[#00b37e] rounded-full flex items-center justify-center text-white shadow-xl shadow-emerald-100/50 transition-all">
              <i class="fa-regular fa-envelope text-lg"></i>
            </div>
            <div class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-center w-24">
              <span class="text-[9px] font-bold text-[#00b37e] uppercase tracking-widest">Verify Email</span>
            </div>
          </div>

          <div class="flex-1 h-0.5 bg-gray-100 rounded-full"></div>

          <div class="relative group">
            <div
              class="w-12 h-12 bg-white rounded-full flex items-center justify-center text-gray-300 border border-gray-100 group-hover:border-[#00b37e]/30 group-hover:text-[#00b37e] transition-all cursor-pointer">
              <i class="fa-solid fa-key text-lg"></i>
            </div>
            <div class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-center w-24">
              <span
                class="text-[9px] font-bold text-gray-300 uppercase tracking-widest group-hover:text-[#00b37e]">Enter
                Code</span>
            </div>
          </div>
          <div class="flex-1 h-0.5 bg-gray-100 rounded-full"></div>

          <div class="relative group">
            <div
              class="w-12 h-12 bg-white rounded-full flex items-center justify-center text-gray-300 border border-gray-100 group-hover:border-[#00b37e]/30 group-hover:text-[#00b37e] transition-all cursor-pointer">
              <i class="fa-solid fa-lock text-lg"></i>
            </div>
            <div class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-center w-24">
              <span class="text-[9px] font-bold text-gray-300 uppercase tracking-widest group-hover:text-[#00b37e]">New
                Password</span>
            </div>
          </div>
        </div>
        <form class="space-y-6" [formGroup]="forgetPasswordForm" (ngSubmit)="submitForgetPassword()">

          <div class="relative group">
            <label class="text-[10px] font-bold text-gray-400 uppercase tracking-widest ml-1 mb-1.5 block">Email
              Address</label>
            <div class="relative">
              <i
                class="fa-regular fa-envelope absolute left-4 top-1/2 -translate-y-1/2 text-gray-300 group-focus-within:text-[#00b37e] transition-colors"></i>
              <input formControlName="email" type="email" placeholder="name@example.com"
                class="w-full bg-white border border-transparent focus:border-[#00b37e]/20 focus:ring-4 focus:ring-emerald-100/50 rounded-2xl py-4 pl-12 pr-4 text-sm outline-none transition-all shadow-inner placeholder:text-gray-300">
            </div>
            @if (forgetPasswordForm.get("email")?.errors&& forgetPasswordForm.get("email")?.touched) {
            @if (forgetPasswordForm.get("email")?.hasError("required")) {
            <p class="text-red-500 text-sm my-4">Email is required</p>
            }@else if (forgetPasswordForm.get("email")?.hasError("email")) {
            <p class="text-red-500 text-sm my-4">Please enter valid email</p>
            }
            }
          </div>

          <button type="submit"
            class="w-full bg-[#00b37e] disabled:bg-gray-200 disabled:cursor-not-allowed text-white py-4 rounded-[20px] font-bold text-sm shadow-xl shadow-emerald-100 hover:bg-[#009669] hover:-translate-y-0.5 active:scale-95 transition-all cursor-pointer flex items-center justify-center gap-2 group mt-4">
            Send Reset Link <i
              class="fa-solid fa-paper-plane text-[10px] transition-transform group-hover:translate-x-1 group-hover:-translate-y-1"></i>
          </button>
        </form>
        }


        <!--                                                step-2                                         -->

        @else if (steps()==2) {
        <div class="animate-in fade-in slide-in-from-bottom-4 duration-500 text-center">
          <h2 class="text-xl font-black text-gray-800 mb-2">Check Your Email</h2>
          <p class="text-gray-400 text-sm mb-8 leading-relaxed">Enter the 6-digit code sent to your email</p>


          <div class="flex items-center justify-center gap-2 my-12">
            <div class="relative">
              <div
                class="w-12 h-12 bg-[#00b37e] rounded-full flex items-center justify-center text-white shadow-xl shadow-emerald-100/50 transition-all">
                <i class="fa-regular fa-envelope text-lg"></i>
              </div>
              <div class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-center w-24">
                <span class="text-[9px] font-bold text-[#00b37e] uppercase tracking-widest">Verify Email</span>
              </div>
            </div>

            <div class="flex-1 h-0.5 bg-[#00b37e] rounded-full"></div>

            <div class="relative">
              <div
                class="w-12 h-12 bg-[#00b37e] rounded-full flex items-center justify-center text-white shadow-xl shadow-emerald-100/50 transition-all">
                <i class="fa-solid fa-key text-lg"></i>
              </div>
              <div class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-center w-24">
                <span
                  class="text-[9px] font-bold text-gray-300 uppercase tracking-widest group-hover:text-[#00b37e]">Enter
                  Code</span>
              </div>
            </div>
            <div class="flex-1 h-0.5 bg-gray-100 rounded-full"></div>

            <div class="relative">
              <div
                class="w-12 h-12 bg-white rounded-full flex items-center justify-center text-gray-300 border border-gray-100 group-hover:border-[#00b37e]/30 group-hover:text-[#00b37e] transition-all cursor-pointer">
                <i class="fa-solid fa-lock text-lg"></i>
              </div>
              <div class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-center w-24">
                <span
                  class="text-[9px] font-bold text-gray-300 uppercase tracking-widest group-hover:text-[#00b37e]">New
                  Password</span>
              </div>
            </div>

          </div>
          <form class="space-y-6" [formGroup]="verifyCodeForm" (ngSubmit)="submitVerifyCode()">
            <div class="relative group mb-8">
              <i
                class="fa-solid fa-shield-halved absolute left-5 top-1/2 -translate-y-1/2 text-gray-300 group-focus-within:text-[#00b37e] transition-colors"></i>
              <input formControlName="resetCode" type="text" placeholder="· · · · · ·"
                class="w-full bg-gray-50 border border-gray-100 focus:border-[#00b37e] focus:ring-4 focus:ring-emerald-50 rounded-2xl py-4.5 px-12 text-center tracking-[1em] font-black text-xl outline-none transition-all">
            </div>
            @if (verifyCodeForm.get("resetCode")?.errors&& verifyCodeForm.get("resetCode")?.touched) {
            @if (verifyCodeForm.get("resetCode")?.hasError("required")) {
            <p class="text-red-500 text-sm my-4">resetCode is required</p>
            }@else if (verifyCodeForm.get("resetCode")?.hasError("pattern")) {
            <p class="text-red-500 text-sm my-4">Reset code must be 6 digits</p>
            }
            }
            <button
              class="w-full bg-[#00b37e] text-white py-4.5 rounded-2xl font-bold shadow-xl shadow-emerald-100 hover:bg-[#009669] transition-all mb-6">
              Verify Code
            </button>
          </form>

          <p class="text-xs text-gray-400">Didn't receive code? <span
              class="text-[#00b37e] font-bold cursor-pointer hover:underline">Resend Code</span></p>
          <button class="mt-4 text-xs font-bold text-gray-400 hover:text-gray-600 block w-full">← Change email
            address</button>
        </div>

        }

        <!--                                                step-3                                         -->

        @else if (steps()==3) {
        <div class="animate-in fade-in slide-in-from-bottom-4 duration-500 text-center">
          <h2 class="text-xl font-black text-gray-800 mb-2">Create New Password</h2>
          <p class="text-gray-400 text-sm mb-8 leading-relaxed">Your new password must be different from previous
            passwords</p>

          <div class="flex items-center justify-center gap-2 my-12">
            <div class="relative">
              <div
                class="w-12 h-12 bg-[#00b37e] rounded-full flex items-center justify-center text-white shadow-xl shadow-emerald-100/50 transition-all">
                <i class="fa-regular fa-envelope text-lg"></i>
              </div>
              <div class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-center w-24">
                <span class="text-[9px] font-bold text-[#00b37e] uppercase tracking-widest">Verify Email</span>
              </div>
            </div>

            <div class="flex-1 h-0.5 bg-[#00b37e] rounded-full"></div>

            <div class="relative">
              <div
                class="w-12 h-12 bg-[#00b37e] rounded-full flex items-center justify-center text-white shadow-xl shadow-emerald-100/50 transition-all">
                <i class="fa-solid fa-key text-lg"></i>
              </div>
              <div class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-center w-24">
                <span
                  class="text-[9px] font-bold text-gray-300 uppercase tracking-widest group-hover:text-[#00b37e]">Enter
                  Code</span>
              </div>
            </div>
            <div class="flex-1 h-0.5 bg-[#00b37e] rounded-full"></div>

            <div class="relative">
              <div
                class="w-12 h-12 bg-[#00b37e] rounded-full flex items-center justify-center text-white shadow-xl shadow-emerald-100/50 transition-all">
                <i class="fa-solid fa-lock text-lg"></i>
              </div>
              <div class="absolute -bottom-6 left-1/2 -translate-x-1/2 text-center w-24">
                <span
                  class="text-[9px] font-bold text-gray-300 uppercase tracking-widest group-hover:text-[#00b37e]">New
                  Password</span>
              </div>
            </div>

          </div>
          <form class="space-y-6" [formGroup]="resetPasswordForm" (ngSubmit)="submitResetCode()">

            <div class="space-y-4 mb-8 text-left">
              <div class="group">
                <label class="text-[10px] font-bold text-gray-400 uppercase tracking-widest ml-1 mb-1 block">New
                  Password</label>
                <div class="relative">
                  <i
                    class="fa-solid fa-lock absolute left-5 top-1/2 -translate-y-1/2 text-gray-300 group-focus-within:text-[#00b37e]"></i>
                  <input formControlName="newPassword" type="password" placeholder="Enter new password"
                    class="w-full bg-gray-50 border border-gray-100 focus:border-[#00b37e] focus:ring-4 focus:ring-emerald-50 rounded-2xl py-4.5 px-12 text-sm outline-none transition-all">
                </div>
                @if (resetPasswordForm.get("newPassword")?.errors && resetPasswordForm.get("newPassword")?.touched) {
                @if (resetPasswordForm.get("newPassword")?.hasError("required")) {
                <p class="text-red-500 text-sm my-4">New Password is required</p>
                }@else if (resetPasswordForm.get("newPassword")?.hasError("pattern")) {
                <p class="text-red-500 text-sm my-4">password minimum length is 8 characters , password must contain
                  upperCase , lowerCase , number and special character</p>
                }
                }
              </div>

             
            </div>

            <button
              class="w-full bg-[#00b37e] text-white py-4.5 rounded-2xl font-bold shadow-xl shadow-emerald-100 hover:bg-[#009669] transition-all">
              Reset Password
            </button>
          </form>
          </div>

        }



        <div class="relative flex items-center justify-center mt-10 mb-8">
          <div class="w-full h-[1px] bg-gray-100"></div>
          <span class="absolute bg-white px-4 text-[10px] text-gray-300 font-bold tracking-widest uppercase">Or</span>
        </div>

        <div class="text-center space-y-4 pt-2">
          <p class="text-sm text-gray-400 font-medium">
            Remembered your password? <a routerLink="/login"
              class="text-[#00b37e] font-black hover:underline tracking-tight">Sign In</a>
          </p>
          <a routerLink="/login"
            class="inline-flex items-center gap-2 text-xs font-bold text-gray-400 hover:text-emerald-700 transition-colors">
            <i class="fa-solid fa-arrow-left text-[10px]"></i> Back to Sign In
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
